language: cpp

sudo: required

services:
  - docker

addons:
  hosts:
    - ecag-fixml-dev1

before_install:
  - sudo add-apt-repository ppa:qpid/testing  --yes
  - sudo apt-get update -q
  - sudo apt-get install -q -y libboost-test-dev libboost-filesystem-dev libnss3-tools libqpidmessaging2-dev libqpidclient2-dev libqpid-proton6-dev
  - docker pull ecmi/fixml:sim

install:
  - docker run -d -p 35672:5672 -p 35671:5671 ecmi/fixml:sim

before_script:
  - source ./qpid-messaging/test/resources/prepare_environment.sh
  - wget http://mirror.dkd.de/apache/qpid/proton/0.13.0/qpid-proton-0.13.0.tar.gz
  - gunzip qpid-proton-0.13.0.tar.gz
  - tar -xvf qpid-proton-0.13.0.tar
  - mkdir -p qpid-proton-0.13.0/build
  - cd qpid-proton-0.13.0/build
  - cmake .. -DBUILD_JAVA=OFF -DBUILD_PHP=OFF -DBUILD_PYTHON=OFF -DBUILD_PERL=OFF -DBUILD_RUBY=OFF -DBUILD_GO=OFF
  - make
  - sudo make install
  - cd ../..

script:
  - mkdir build && cd build && cmake .. && make && ctest

after_failure:
  - cat Testing/Temporary/LastTest.log
